#app {
   margin: auto;
   padding-top: 20px;
}

.botao {
    width: 120px;
}

.inputHoras {
    width: 120px !important;
    text-align: center;
}

#jornada {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.celula {
    text-align: center;
}
