.container{
    height: 100%;
    display: grid;
}

#app{
   margin: auto;
   padding-top: 20%;
   padding-left: 10%;
}

.botao{
    margin-left: -2px;
    margin-top: 5px;
}
#j{
    width:265px;
}

.inputHoras{
    width: 120px !important;
    text-align: center;
}

#campoJornada{
    margin-left: 60px;
}

#jornada{
    float: left;
}


#areaCampoAdicional{
    background-color: dodgerblue;
}
#tabela{
    text-align: center;
}