.container{
    height: 100%;
    display: grid;
}

#app{
   margin: auto;
   padding-top: 20%;
}
#btnCalcular{
    margin-left: 85px;
    margin-top: 5px;
}
#j{
    width:265px;
}
.inputHoras{
    width: 120px !important;
    text-align: center;
}
#campoJornada{
    margin-left: 60px;
}
strong{
    float: left;
}
td{
    text-align: center;
}